---
title: Blog
eleventyExcludeFromCollections: true
---

<ul>
{% for post in collections.blog | reverse %}
  <li><a href="{{ post.url }}">{{ post.data.title }}</a> &mdash; {{ post.date | localeDate }}</li>
{% endfor %}
</ul>

<pre>
{{ page | inspect }}
</pre>
