<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>{{ title }}</title>
</head>
<body>

  <main>{{ content | safe }}</main>
  <footer>
    <p>Date {{ page.date | localeDate }}</p>
  </footer>

</body>
</html>
